---
import Layout from '../layouts/Layout.astro';
import Prompt from '../components/Prompt.astro';
---

<Layout title="Imre Molnar's website">
	<main>
<Prompt command='ls' editable={false}/>
<pre><a href="/"><font color="#AE59F0"><u style="text-decoration-style:solid"><b>   Home   </b></u></a></font>
<a href="/"><font color="#AE59F0"><u style="text-decoration-style:solid"><b>   Blog   </b></u></font></a>
<a href="/"><font color="#AE59F0"><u style="text-decoration-style:solid"><b>   About   </b></u></font></a></pre>
<Prompt command="whoami" editable={false}/>
<div style="display: flex; flex-direction: row;">
	<span>
		<img src="/profile.JPG" width="150pt" />
	</span>
	<span>
<pre><font color="#ffffff"><b> Imre Molnar </b></font>

<font color="#268BD2"> PhD Student | Researcher | Instructor</font><font color="white"> at </font>
<font color="#268BD2"> Eötvös Loránd University </font></pre>
	</span>
</div>
	<Prompt command="" editable={true}/>
</main>
	<footer>

	</footer>
</Layout>

